html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background-color: #862e9c;
  color: #dee2e6;
  font-family: 'Maven Pro', sans-serif;
  font-size: 120%;
}

h1, h2, h3, h4, h5, h6 {
  color: #f1f3f5;
  font-family: 'Lobster', cursive;
}

a, a:active, a:focus, a:hover, a:visited {
  color: #ced4da;
  text-decoration: none;
}

a:hover {
  color: #f8f9fa;
}

div.wrapper {
  width: 60%;
  margin: auto;
  margin-top: 150px;
  height: 500px;
}

header {
  height: 100%;
  float: left;
  width: 30%;
  text-align: right;
  padding: 60px;
}

main {
  height: 100%;
  margin-left: 45%;
}

ul {
  padding-left: 60px;
}

.logo {
    width: 96px;
    height: 96px;
    display: inline-block;
    background-size: cover;
}
